@media (max-width: 992px) {
    .container {
        max-width: 730px;
    }
    .promo{
        padding: 21px 0 60px 0
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 577px;
    }
    .title {
        &_left {
            font-size: 34px;
            text-align: center;
        }
    }
    .header {
        justify-content: space-around;
        &__official {
            display: none;
        }
    }
    .promo {
        &__wrapper{
            align-items: center;
        }
        &__header {
            font-size: 33px;
            line-height: 33px;
        }
        &__subheader {
            margin-top: 17px;
            font-size: 22px;
            line-height: 22px;
        }
        &__icons {
            margin-top: 50px;
        }
    }
    .button_main {
        margin-top: 55px;
    }
    .advantage {
        padding: 55px 0 60px 0;
        &__icons {
            margin-top: 55px;
        }
        &__icon {
            font-size: 12px;
        }
    }
    .сarousel__inner {
        max-width: 577px;
    }
    .slick-slide img {
        width: 100%;
    }

    .catalog {
        padding-bottom: 60px;
        &__content {
            justify-content: center;
        }
        &__tab {
            width: 160px;
        }
    }
    .consultation {
        padding: 67px 0 50px 0;
        &__descr {
            text-align: center;
            margin-top: 38px;
        }
    }
    .comment {
        padding: 0 15px 71px 15px;
        &__text {
            margin-left: 40px;
        }
    }
}

@media (max-width: 576px) {
    .title {
        font-size: 21px;
    }
    .header {
        flex-direction: column;
        &__contacts {
            align-items: center;
            margin-top: 20px;
        }
    }
    .promo {
        &__icons {
            width: 320px;
            margin-top: 37px;
        }
        &__icon {
            font-size: 13px;
        }
        &__header {
            font-size: 23px;
            line-height: 23px;
        }
        &__subheader {
            font-size: 17px;
            line-height: 20px;
            text-align: center;
        }
    }
    .advantage {
        &__icons {
            margin-top: 10px;
            flex-direction: column;
            align-items: center;
        }
        &__icon {
            padding-top: 30px;
            font-size: 14px;
            img {
                margin-bottom: 12px;
            }
            strong {
                margin-bottom: 13px;
            }
        }
    }
    .сarousel__inner {
        max-width: 100%;
    }
    .slick-slide img {
        width: 100%;
    }
    .catalog {
        &__tabs {
            flex-direction: column;
            margin-top: 47px;
        }
        &__tab {
            width: 241px;
            margin: 5px 0 5px 0;
        }
        &__content {
            margin-top: 40px;
        }
    }
    .consultation {
        &__descr {
            font-size: 18px;
        }
    }
    .comment {
        &__img {
            display: none;
        }
        &__text {
            margin-left: 0;
        }
    }
}