.advantage {
    min-height: 470px;
    background-color: #f6f6f6;
    padding: 69px 0 78px 0;
    &__header {
        color: #0d0d0d;
        font-size: 30px;
        font-weight: 700;
        text-align: center;
    }
    &__icons {
        display: flex;
        justify-content: space-between;
        margin-top: 65px;
    }
    &__icon {
        width: 271px;
        text-align: center;
        color: #0d0d0d;
        font-size: 14px;
        font-weight: 300;
        img {
            display: block;
            margin: 0 auto;
            margin-bottom: 38px;
        }
        strong {
            display: block;
            font-size: 18px;
            font-weight: 700;
            margin-bottom: 29px;
        }
        span {
            color: $main-color;
            text-decoration: underline;
            text-transform: uppercase;
        }
    }
}